// BASE
$white: #ffffff;
$black: #000000;

// PRIMARY
$primary: #fff159;

// SECONDARY
$secondary: #3483fa;

// TERTIARY
$tertiary: #ebebeb;
$tertiary-mid: #999999;
$tertiary-dark: #333333;

// QUATERNARY
$quaternary: #46c47f;
