@import "../../styles/global.scss";

.page-content {

  &__container {
    padding: unit_x(1);
    border-radius: unit_x(1);
    max-width: 60%;
    margin: 0 auto;
  }

  &__items {
    padding: unit_x(2);
    border-radius: unit_x(1);
    background: $white;
    overflow: hidden;
  }
}
