@import "../../styles/global.scss";

.pdp {
  &__container {
    @include flex-center;
    align-items: flex-start;
  }

  &__item {
    &-pic {
      overflow: hidden;
      width: 100%;
      max-height: 400px;

      img {
        width: 100%;
      }
    }

    &-description {
      margin-top: 32px;

      h3 {
        font-size: 2rem;
      }
    }

    &-condition {
      display: block;
      margin-bottom: unit_x(1);
    }

    &-name {
      font-size: 1.4rem
    }

    &-price {
      @include flex-start;
      align-items: flex-start;
      padding: unit_x(2) 0;

      span {
        display: block;
        font-size: 2.4rem;
        font-weight: bold;
      }
    }
  }

  &-item {
    &__detail {
      flex: 2;
      padding: 0 unit_x(2);
    }

    &__price {
      flex: 1;
    }
  }
}
