@import "../../styles/global.scss";

.error-message {
  &__container {
    position: fixed;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: $white;
  }

  &__content {
    width: 40%;
  }
}
