@import "../../styles/global.scss";

.displayresults {
  &__content {
    padding: unit_x(1);
    border-radius: unit_x(1);
    max-width: 60%;
    margin: 0 auto;
  }

  &__breadcrumbs-container {
    padding: unit_x(1) 0;

    ul>li {
      color: lighten($color: $tertiary-dark, $amount: 30);
    }
  }

  &__items-container {
    background: $white;
    overflow: hidden;
    border-radius: unit_x(1);
  }

  &__breadcrumb {
    @include flex-start;
    padding: 0;

    >*+* {
      margin-left: unit_x(1);

      &::before {
        content: ">";
        display: inline-block;
        margin-right: unit_x(1);
      }
    }

    li:last-child {
      font-weight: bold;
    }
  }

  &__items {
    margin: 0;
    padding: 0;
  }
}
